{% extends "base.html" %}
{% load static %}

{% block main %}
    <form>
        <input type="text" placeholder="Search your summary notes" name="search" id="search">
    </form>
    <ul id="search_results"></ul>
    
    {% for note in notes %}
    <div class="card horizontal">
      
        <div class="card-stacked">
            <div class="card-content">
                    <h5> {{ note.title }}<h5>
                    <p> {{ note.content }}</p>
            </div>
        </div>
    </div>
    {% empty %}
        <p>Book not found </p>
    {% endfor %}

{% endblock main %}

{% block scripts %}
<script>

    $(function() {

        $('#search').keyup(function(event) {

            event.preventDefault();

            $.ajax({
                type: "GET",
                url: "/summary/search/",
                data: { 
                    'q' : $('#search').val(),
                },
                success: searchSuccess,
                dataType: 'html'
            });

        });
    });

    function searchSuccess(data, textStatus, jqXHR) {
        $('#search_results').html(data);
    }

</script>

{% endblock scripts %}
